<script>
$(document).ready(function(){
    $("table").hide();
    $("table").show(2000);
});
</script>
<%= render 'form' %>
<legend>Status Updates</legend>

<table id="st" class="table table-striped">
  <tr id="trh">
    <th>User</th>
    <th>Body</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => "status_update", :collection => @status_updates %>
</table>

<br />
<br /><br />
